<section class="two-way-binding">
    <article>
        <h3>Two-way data binding no componente meu-form</h3>
        <div>
            <input type="text" [value]="nome" (input)="nome = inputNome.value" #inputNome />

            <input type="text" [ngModel]="nome" (ngModelChange)="nome = $event" #inputNome />

            <input type="text" [(ngModel)]="nome" #inputNome />
        </div>
        <p>Você digitou o nome: {{ nome }}</p>

        <div>
            <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade.</p>
            <input type="text" [(ngModel)]="pessoa.nome"/>
            <input type="text" [(ngModel)]="pessoa.idade"/>
        </div>
    </article>
</section>
